/*Variables*/
/*Titulos*/
.titulo-principal {
  color: orange;
  text-align: center; }
  .titulo-principal-variante {
    color: orange;
    text-align: center; }

.titulo-secundario {
  color: midnightblue;
  text-align: center; }

.titulo-subtitulo {
  color: burlywood;
  text-align: center; }

/*Estilos generales*/
a {
  color: inherit; }

.container > .row {
  margin-bottom: 3rem; }

/*Nav*/
.navbar-brand > img {
  width: 55px; }

.navbar-main .active {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 9px; }

/*Clientes*/
.sec-clientes > a {
  transition: filter 0.4s; }
  .sec-clientes > a:hover {
    filter: opacity(0.5); }

/*Estilos*/
.header-main {
  min-height: 100vh; }

.section-main {
  margin-top: 6rem;
  min-height: auto; }

/*Background*/
.bg-mnblue {
  background-color: midnightblue;
  color: white; }

.bg-mnbluelight {
  background-color: #5353ff;
  filter: opacity(0.5); }

/*mediaquery*/
@media screen and (max-width: 426px) {
  body {
    margin-top: 4rem; }
  .titulo-principal {
    font-size: 4rem; }
    .titulo-principal-variante {
      font-size: 3rem; }
  .titulo-secundario {
    font-size: 2.5rem; }
  .header-main {
    min-height: 5vh; }
  img.carreras {
    width: 100px;
    height: 100px;
    float: inline-end;
    margin: auto;
    border: 0.25rem solid midnightblue; } }

@media screen and (min-width: 426px) {
  img.carreras {
    width: 200px;
    height: 200px;
    float: inline-end;
    margin: auto;
    border: 0.5rem solid midnightblue; } }

.menu-imagen {
  background-image: url("https://ep01.epimg.net/elviajero/imagenes/2018/07/31/album/1533036263_013678_1533077023_noticia_normal.jpg");
  width: auto;
  background-size: cover;
  position: relative; }

.menu-imagen::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.70;
  filter: blur(30px); }

/*Animacion*/
.animacion {
  animation-duration: 2s;
  animation-name: entrada; }

@keyframes entrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*Imagenes*/
img.nav-logo {
  width: 70px;
  height: 70px;
  display: block;
  margin: auto; }
