/*Variables*/
/*Titulos*/
.titulo-principal {
  color: orange;
  text-align: center; }

.titulo-secundario {
  color: midnightblue;
  text-align: center; }

.titulo-subtitulo {
  color: burlywood;
  text-align: center; }

/*Estilos generales*/
a {
  color: inherit; }

.container > .row {
  margin-bottom: 3rem; }

/*Nav*/
.navbar-brand > img {
  width: 55px; }

.navbar-main .active {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 9px; }

/*Clientes*/
.sec-clientes > a {
  transition: filter 0.4s; }
  .sec-clientes > a:hover {
    filter: opacity(0.5); }

/*Estilos*/
.header-main {
  min-height: 100vh; }

.section-main {
  margin-top: 6rem;
  min-height: auto; }

/*Background*/
.bg-mnblue {
  background-color: midnightblue;
  color: white; }

.bg-mnbluelight {
  background-color: #5353ff;
  filter: opacity(0.5); }

/*mediaquery*/
@media screen and (max-width: 426px) {
  body {
    margin-top: 4rem; }
  .titulo-principal {
    font-size: 4rem; }
  .titulo-secundario {
    font-size: 2.5rem; }
  .header-main {
    min-height: 5vh; } }

/*Animacion*/
.animacion {
  animation-duration: 2s;
  animation-name: entrada; }

@keyframes entrada {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*Imagenes*/
img.nav-logo {
  width: 70px;
  height: 70px;
  display: block;
  margin: auto; }

img.carreras {
  width: 200px;
  height: 200px;
  float: inline-end;
  margin: auto;
  border: 0.5rem solid midnightblue; }
